
@media (max-width:1320px){
    .member{
        height: 85%;
        width: auto;
    }
    .rowteam{
        width: 80%;
    }
    .columnteam{
        flex: 50%;
        margin-bottom: -50px;
    } 
    .testimonialimg{
        padding: 8px;
        height: 120px;
        width: 120px;
    }
    .testimonialpagination{
        height: 16px;
    }
    
    .pagination {
        margin-top: 10px;
        padding: 10px;
    }
    
    .square{
        height: 12.5px;
        width: 12.5px;
    }
    
    .activesquare{
        height: 12.5px;
        width: 12.5px;
    }
    .row, .rowprojects{
        width: 90%;
    }
    .postsection{
        width: 90%;
    }
    nav{
        width: 88%;
    }
    .partners{
        width: 90%;
    }
    .contactarea{
        width: 85%;
    }
    .infoarea{
        margin:0;
    }
}

@media (max-width:1200px){
    .post{
        flex: 50%;
        margin: 20px 10px;
        flex-direction: row;
    }
    .formbg{
        width:100% !important;
        height:60vw !important;
        object-fit: cover;
    }
    .formoverlay{
        width:100% !important;
        height:60vw !important;
    }

    .blogimg{
        border-radius: 5px;
    }
    .posttextpart{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: unset;
    }
    .skillsdesc{
        font-size: 13px;
        line-height: 25px;
    }
    .slidetext{
        padding-bottom: 25px;
    }
}
@media(max-width: 1100px){
   .formarea{
       flex: 100%;
   }
   .infoarea{
       margin-top:-30px; 
       flex: 100%;
       padding: 20px;
   }
   .formtitle{
       text-align: center;
       margin: 15px;
   }
    .buttonsection{
        display: flex;
        justify-content: center;
        align-items: center;
    }
   .infosection{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   .infotitle{
       text-align: center;
       font-size: 30px;
   }
   .infofont{
       font-size: 16px;
   }
}

@media (max-width:1000px){
    .galleryContainer{
        height: 80vh;
    }
    .row{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .rowprojects{
        width: 90%;
    }
    .sectionintro{
        margin-left: 15%;
        margin-right: 15%;
    }
    .columnproject{
        flex: 33%;
    }  
    .member{
        height: 80%;
        width: auto;
    }
    .testimonialblock{
        width: 80%;
        left: 10%;
        padding: 10px;
    }
    .testimonialbg{
        width:100%;
        height:45vw;
    }
    .overlay{
        height:45vw;
    }
    .testimonialimg{
        padding: 8px;
        height: 100px;
        width: 100px;
    }
    .testimonialpagination{
        height: 14px;
    }
    
    .pagination {
        margin-top: 6px;
        padding: 6px;
    }
    
    .square{
        height: 8.5px;
        width: 8.5px;
    }
    
    .activesquare{
        height: 8.5px;
        width: 8.5px;
    }
    .partner{
        flex:33%;
        margin-top:10px;
        margin-bottom: 20px;
        text-align: center;
    } 
    .post{
        flex: 50%;
     /*    margin: 25px 25px; */
    }
    .partners{
        margin-top: 15px;
        margin-bottom: 15px;
      }
      .formbg{
        width:100% !important;
        height:70vw !important;
        }
    .formoverlay{
        width:100% !important;
        height:70vw !important;
    }
    .landingContainer h1:first-child {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media (max-width:900px){
  
    .formbg{
        width:100% !important;
        height:70vw !important;
        }
        .formoverlay{
        width:100% !important;
        height:70vw !important;
    }
    .infotitle{
        margin: 0;
    }
    .infoicon{
        margin: 5px;
    }
    .name_email{
        margin-bottom: 0px;
    }
  /*   .formtitle{
        margin-top: -45px;
    } */
    .galleryContainer{
        height: 70vh;
    }
    .landingtitle{
        font-size: 35px;
    }
    .landingContainer{
        padding-top: 50px;
    }
    #dotsContainer{
        bottom: 15px;
    }
    .blogimg{
        width: 50%;
    }
    .sectionintro{
        font-size: 16px;
        line-height: 25px;
        width: auto;
    }
}

@media (max-width:756px){
    .blogtitle{
        font-size: 20px;
    }
    .blogtext{
        font-size: 12px;
    }
}

@media (max-width:700px){
    .testimonialbg{
        width:100%;
        height:50vw;
    }
    .overlay{
        height:50vw;
    }
    .testimonialblock{
        left: 10%;
        padding: 10px;
    }
    .testimonialimg{
        padding: 6px;
        height: 80px;
        width: 80px;
    }
    .testimonialpagination{
        height: 12px;
    }
    
    .pagination {
        margin-top: 5px;
        padding: 5px;
    }
    
    .square{
        height: 6px;
        width: 6px;
    }
    
    .activesquare{
        height: 6px;
        width: 6px;
    }
    .post{
        flex: 60%;
        margin: 15px 0px;
    }
    .formbg{
        width:100% !important;
        height:90vw !important;
        }
        .formoverlay{
        width:100% !important;
        height:90vw !important;
    }
    .infoarea{
        margin-top: -50px;
    }
    .galleryContainer{
        height: 350px;
    }
    .skillsdesc{
        font-size: 11px;
        line-height: 15px;
    }
    .slidetext{
        padding-bottom: 20px;
    }
    .infofont{
        font-size: 13px;
    }
    .placeholdertext{
        font-size: 15px;
    }
    .placeholdericon {
        height: 16px;
        width: auto;
        margin: 16px 5px 0px 16px;
    }
}


@media (max-width:600px){
    body{
        overflow-x: hidden !important;
    }
    nav{
        background: rgba(46, 125, 200, 0.6);
        padding-top: 0px;
        width: 100%;
    }
    .galleryContainer{
        overflow: hidden !important;
    }
    
    #logo{
        margin-left:25px; 
    }
    .links{
        position: absolute;
        top: 12vh;
        right: 0px;
        height: 88vh;
        width: 0%;
        background: rgba(46, 125, 200, 0.8);
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-direction: column;
        text-align: center;
        box-sizing: border-box;
        /* transform: translateX(100%);  */
        transition: width 0.5s ease-in-out;
        margin-top:0;
        overflow: hidden !important;
        padding-right: 0px;
    }
    .link{
        opacity: 0;
    }
    .hamburger{
        display: block;
        position: absolute;
        right: 25px;
        cursor: pointer;
    }

    .hamburger:hover{
        cursor: pointer !important;
    }

    .side-nav-active{
      /*   transform: translateX(0%); */
      width: 100%;
    }

    .link:hover  .borderbottom{
        width: 95%;
    } 

    .landingContainer{
        font-size: 16px;
    }
    .columnproject{
        flex: 100%;
    } 
    .row{
        width: 100%;
    }
    .rowprojects{
        width: 80%;
    }
    .rowteam{
        width: 100%;
    }
    .columnteam{
        flex: 100%;
        align-items: center;
        margin-bottom: -50px;
    } 
    .member{
        height: 80%;
        width: auto;
    }
    .testimonialblock{
        width: 100%;
    }
    .testimonialbg{
        width:100%;
        height:120vw !important;
    }
    .overlay{
        height:120vw !important;
    }
    .testimonialblock{
        width: 70%;
        left: 15%;
    }
    .testimonialtext{
        font-size: 9px;
        padding: 5px 10px;
        text-align: center;
    }
    .postsection{
        width: 90%;
    
    }
    .post{
        flex: 100%;
        margin: 15px 0px;
        flex-direction: column;
    }
    .formtitle{
        margin-top: 0px;
        font-size: 30px;
    }
    .placeholdertext{
        font-size: 14px;
    }
    .placeholdericon{
        height: 12px;
    }

    .name, .email{
        flex:100%;
    }

    .nameinput, .mailinput, .messageinput{
        width:95%;
        margin-left: 0;
    }
    .button-form{
        padding: 8px 30px !important;
        margin-top: -25px;
        font-size: 14px;
    }
    .infoarea{
        padding: 10px;
        margin-right: 5px;
    }
    .infotitle{
        font-size: 20px;
    }
    .infosection{
        flex-direction: column;
    }
    .blogimg{
        width: 100%;
    }
    .partners{
        width: 70%;
    }
    .placeholdertitle{
        margin-bottom: -40px;
        margin-left: -15px;
    }
    .landingtitle{
        font-size: 20px;
    }
}

@media (max-width:510px){
    .testimonialbg{
        width:140%;
        height:100vw;
    }
    .overlay{
        height:100vw;
    }
    .testimonialtext{
        font-size: 8px;
    }
    .testimonialimg{
        padding: 6px;
        height: 105px;
        width: 105px;
    }
    .testimonialpagination{
        height: 10px;
    }
    
    .pagination {
        margin-top: 5px;
        padding: 5px;
    }
    
    .square{
        height: 4px;
        width: 4px;
    }
    
    .activesquare{
        height: 4px;
        width: 4px;
    }
    
    .partners{
      flex-direction: column;
    }

    .partner{
        flex:100%;
        margin-top:10px;
        margin-bottom: 20px;
        text-align: center;
    } 
    .rowprojects{
        width: 100%;
    }
    .businesstitle{
        font-size: 35px;
    }
    .formbg{
        width:auto !important;
        height:150vw !important;
        }
        .formoverlay{
        width:100% !important;
        height:150vw !important;
    }
}

@media (max-width:420px){
    .formbg{
        width:auto !important;
        height:170vw !important;
        }
        .formoverlay{
        width:100% !important;
        height:170vw !important;
    }
    .member{
        height: 70%;
    }
    .columnteam{
        flex: 100%;
        align-items: center;
        margin-bottom: -100px;
    } 
    .slidetext{
        padding-bottom: 25px;
        font-size: 10px;
    }
    .infofont{
        font-size: 12px;
    }
    .button-form{
        padding: 5px 25px !important;
        margin-top: -25px;
    }
    .galleryContainer{
        height: 320px;
    }
}

@media (max-width:365px){
    .galleryContainer{
        height: 280px;
    }
    .button-learnmore{
        margin-top: 0px;
    }
}